<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <style>
        .p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
</head>

<body>
    <h1>{{name}}</h1>
    <img src="{{imagen}}" width="305" height="312">
    <h2>Descripción:</h2>
    <p>{{description}}</p>
    <h2>Misión</h2>
    <p>{{missions}}</p>
    <h2>Valores</h2>
    <p>{{values}}</p>
</body>

</html>